

h1 {
    color : blue;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif
}

h3 {
    color : #6faa00
}
#i1 {
    background-color: yellow;
}
p1{
    color : red;
    float:right;  
}

